


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main{
    .caseStudyButtons{
        max-width:62rem;
        margin: auto;
    }
    .caseStudies{
        img{
            width: 32rem;
        }
    }
    .portfolio{
        button{
            margin: 0 .5rem 0 .5rem;
        }
    }
    .about {
        .profileImg{
        height: 20rem;
    }
    .skillsIcons {
        max-width: 50rem;
        margin: auto;
        img{
        width: 7rem;
        }
    }
    }
}


/*----------- FOOTER --------------*/
    
