/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* FONTS */
@font-face {
    font-family: "KhmerMN";
    src: url(../fonts/khmer-mn.ttf);
}
/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
    background-color: #000;
    color:#ffffff;
    font-family: "KhmerMN", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*----------- BODY --------------*/
body {
    overflow-x: hidden;
    font-size: 1rem;
    font-family: Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*----------- HEADER --------------*/
header {
    display: flex;
    justify-content: space-between;
    img{
        height: 2.5em;
        width: auto;
        margin: 1em 0 0 1em;
    }
    .menuText{
        font-size: 2.5rem;
        text-decoration: underline;
        text-underline-offset: .2em;
        margin: .5em .5em 0 0;
      }
}

/*----------- NAVIGATION --------------*/
      
    /* The Overlay (background) using https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  /* Position the content inside the overlay */
  nav .menu {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    background-color: transparent; /* Make the menu content background transparent */
    li {
        list-style-type: none;
        text-decoration: none;
        a {
            background-color: transparent;
        }
    }
}

  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: .5em;
    text-decoration: none;
    font-size: 2.25rem;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    background-color: transparent;
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover,
  .overlay a:focus {
    color: #818181;
  }
  
  /* Position the close button (top right corner) */
  .overlay #closeIcon {
    position: absolute;
    right: .03em;
    font-size: 3.75rem;
  }
  
  /* Add this to your CSS */
  .overlay.show-nav {
    width: 100%;
  }
  
  


/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
    text-align: center;
h1{
    font-size: 3.75rem;
}
@keyframes meetSlide {
    from {translate: none;}
    to {translate:30%}
  }
#meet{
    text-align: left;
    margin: 0 0 .6em 0;
    animation-name: meetSlide;
    animation-duration: 8s;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes savSlide {
    from {translate: none;}
    to {translate: -30%}
  }
.savHilton{
    text-align: right;
    margin: 0;
    line-height: .7em;
    animation-name: savSlide;
    animation-duration: 8s;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#introText{
    margin: 2em 1em 0 1em;
}
#outerSav{
    display: flex;
    flex-direction: column;
}
#codeCreator{
    letter-spacing: .7em;
    font-size: 1.875rem;
    /* 
    margin: top, right, bottom, left; 
    */
    margin: 1.8em .5em 2.3em .6em;
    line-height: 1.7em;
    p{margin: 0;}
}
.buttons{
    display: flex;
    flex-direction: column;
    font-size: 2.13rem;
button{
    border: none;
    text-decoration: underline .07em;
    text-underline-offset: .2em;
    margin-bottom: 1.3em;
    a{
        background-color: #000;
        transition: .6s ease-out;
        padding: .1em .3em;
    }
}
// animation -- NOT WORKING
button a:hover{
    transition: .6s ease-in;
    background-color: #fff;
    color:#000
}
}
// end of underline animation

.icons{
    margin: 1.8em 1em .2em 1em;
i{
    /* 
    margin: top, right, bottom left; 
    */
    margin: 0 .2em 0 .2em;
    color: #fff;
    font-size: 3.3rem;
}
}
}


/*----------- FOOTER --------------*/
footer {
    padding: .5rem 2%;
    text-align: center;
    font-size: .7rem;
    margin-top: auto;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}